*{
	margin:0;
	padding: 0;
}
body{
	font-family: 'Roboto', sans-serif;
}

.fix-padding{
	padding: 0;
}

.row{
	padding: 0;
}
.wrapper{
	width: 100%;
}

.wrapper .banner{
	max-width: 1140px;
}
.wrapper .banner img{
	width: 100%;
	
}

.wrapper .product{
	width: 100%;
	margin: 0;
}

.wrapper .product img{
	width: 100%;
	margin:0;
	
}

.wrapper .product .fix{
	padding: 0;
}

.wrapper .text{
	width: 100%;
	padding: 0;
	text-align: center;
	margin:0;
}

.wrapper .text .content{
	padding: 0;
}

.wrapper .text p{
	line-height: 40px;
	margin: 0;
}

.wrapper .item{
	padding: 0;
	margin:0;
	display: flex;
}

.wrapper .item div{
	width: 20%;
}

.wrapper .item img{
	width: 100%;
}


.footer .footer-left-fix{
	margin:0;
	margin-top: 20px;
}

.footer .footer-left-fix .khoi{
	width: 100%;
	margin: 0;
}



.footer .footer-left-fix  .title h4{
	font-weight: 500px;
	font-size: 16px;
}

.footer .footer-left-fix .khoi .search input{
	max-width: 600px;
	width: calc(100% - 50px );
	outline: none;
	box-shadow: 0px 0px 3px rgba(0,0,0,.1);
	border-radius: 4px;
}

.footer .footer-left-fix .khoi .search button{
	width: 40px;
	outline: none;
	background: #000;
	color: #fff;
	border: none;
	border:1px solid #000;
	border-top: 2px solid #000;
	border-radius: 4px;
}

.footer .footer-left-fix .khoi .item{
	margin: 10px 0 0 0;
}

.footer .footer-left-fix .khoi .item ul{
	display: flex;
	list-style: none;
}

.footer .footer-left-fix .khoi .item ul li{
	width: 10%;
}

.footer .footer-left-fix .khoi .item ul li i{
	color: #000;
	font-size: 20px;
}

.footer .footer-left-fix .khoi2{
	width: 100%;
	
	margin: 0;
}

.footer .footer-left-fix .khoi2 .title{
	
}

.footer .footer-left-fix .khoi2 .list{
	
}

.footer .footer-left-fix .khoi2 .list ul{
	list-style: none;
}



.copy-right{
	width: 100%;
}

.copy-right ul{
	list-style: none;
	display: flex;
	justify-content: center;

}

.copy-right ul li{
	border-right: 1px solid #000;
	padding:0  5px;
	font-size: 12px;
}

.copy-right ul li:last-child{
	border: none;
}

.copy-right .copy-fix{
	display: flex;
	justify-content: center;
	align-items: center;
}
@media all and (max-width: 768px) {
   body {
     
   }
   .footer .footer-left-fix .khoi .search button{
   	width: 40px;
   }
   .wrapper .banner img{
   
   }
   .wrapper .product img{
   
   }

   .wrapper .text p{
   	font-size: 12px;
   }

   .footer .footer-left-fix .khoi{
   	margin: 0;
   }

   .copy-right .copy-fix{
   	padding-left: 15px;
   }

   .copy-right .copy-fix ul{
   	display: flex;
   	flex-direction: column;
   
   }
   .copy-right .copy-fix ul li{
   		font-size: 16px;
   		color: #666;
   }

}